form.wcpv-shortcode-registration-form .form-row-wide input, 
form.wcpv-shortcode-registration-form .form-row-wide textarea {
	width:100%;
}

form.wcpv-shortcode-registration-form .form-row label {
	display:block;
}

form.wcpv-shortcode-registration-form .form-row-first {
	float:left;
	width:47%;
	overflow:visible;
}

form.wcpv-shortcode-registration-form .form-row-last {
	float:right;
	width:47%;
	overflow:visible;
}

form.wcpv-shortcode-registration-form .clear {
	clear:both;
}

form.wcpv-shortcode-registration-form .wcpv-field-note {
	display:block;
	opacity:0.6;
}

form.wcpv-shortcode-registration-form input[type="text"], 
form.wcpv-shortcode-registration-form input[type="email"] {
	width:100%;
}

.wcpv-shortcode-registration-form-errors {
	background-color:#f2dede;
	border:1px solid #ebccd1;
	border-radius:3px;
	color:#a94442;
	padding:5px 10px;
	margin:5px 0 10px 0;
}

.wcpv-shortcode-registration-form-errors .error {
	display:block;
}

.wcpv-shortcode-registration-success {
	background-color:#dff0d8;
	border:1px solid #d6e9c6;
	border-radius:3px;
	color:#3c763d;
	padding:5px 10px;
	margin:5px 0 10px 0;	
}

.wcpv-sold-by-loop {
	display:block;
	margin:5px 0;
}

.wcpv-sold-by-loop a {
	text-decoration:none;
}

.wcpv-sold-by-single {
	display:block;
	line-height:1em;
}

.wcpv-sold-by-single a {
	text-decoration:none;
}

.woocommerce .wcpv-star-rating.star-rating {
	float: none;
	margin: 5px 0 10px 0;
}

.wcpv-vendor-list-shortcode li {
	margin-bottom: 20px;
	list-style: none;
}

.wcpv-vendor-list-shortcode a {
	margin-bottom: 10px;
}